<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.element.admin.integration.manage.QuestionnaireBuilderTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteQuestion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_15</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_16</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>questionNumberCompare</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getFirstQuestionGroupName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_17</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addQuestionResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
