<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:03:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuestionnaireBuilderTest.startup()[pri:0, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">&gt;&gt;startup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:06</td>   <td>15423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.domain()[pri:2, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">domain</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:07</td>   <td>16271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.manage()[pri:3, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">manage</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:08</td>   <td>17121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.TS_001_15()[pri:4, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">TS_001_15</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:14</td>   <td>22897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.questionNumberCompare()[pri:5, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">questionNumberCompare</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:15</td>   <td>23835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.getFirstQuestionGroupName()[pri:6, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">getFirstQuestionGroupName</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:16</td>   <td>24720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.TS_001_16()[pri:7, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">TS_001_16</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:44</td>   <td>53144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.TS_001_17()[pri:8, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">TS_001_17</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:56</td>   <td>64511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.addQuestionResult()[pri:9, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">addQuestionResult</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:04:56</td>   <td>64566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuestionnaireBuilderTest.deleteQuestion()[pri:10, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">deleteQuestion</td> 
  <td>main@978508707</td>   <td></td> </tr>
<tr bgcolor="a7e4a7">  <td>19/09/23 13:05:01</td>   <td>69687</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuestionnaireBuilderTest.tearDown()[pri:0, instance:com.element.admin.integration.manage.QuestionnaireBuilderTest@2a4fb17b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@978508707</td>   <td></td> </tr>
</table>
