<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.element.admin.integration.manage.DataCurationTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_22</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_20</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_21</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.enrich.EnrichTopPanelTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchCompany</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.element.admin.integration.manage.QuestionnaireBuilderTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteQuestion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_15</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_16</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>questionNumberCompare</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_17</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getFirstQuestionGroupName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addQuestionResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.predict.LeadGenerationTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_14</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_07</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_005_09</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.enrich.ComplianceTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_23</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_24</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>process</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_25</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_26</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_30</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_20</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_31</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_21</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_32</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_22</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_33</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickFirstResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>switchToaNewWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_27_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_27</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_28</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_29</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_08</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.act.AuditTrailTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_003_03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_003_02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_003_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_003_04</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.manage.BigDataSciencePlatformTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>drag</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_14</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.enrich.AdvanceSearchTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>process</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_14</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_15</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickFirstResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_09</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>switchToNewWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_16</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dataNotFoundCount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_17</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_18</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_004_19</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.manage.BPMTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_07</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.manage.DecisionScoringTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>process</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_09</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteDomain</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.login.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>process</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchCriteria</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>switchToNewWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dataNotFoundCount</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.element.admin.integration.manage.SourceManagementTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>domain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_001_06</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endup</td>
<td>&nbsp;</td></tr>
</table>
