<h2>Methods that were not run</h2><table>
<tr><td>com.element.admin.integration.enrich.ComplianceTest.TS_004_21</td></tr>
<tr><td>com.element.admin.integration.enrich.AdvanceSearchTest.dataNotFoundCount</td></tr>
<tr><td>com.element.admin.integration.enrich.AdvanceSearchTest.TS_004_08</td></tr>
</table>